.telaPrincipal_container {
    -fx-background-color: #E8E773;
}

.telaPrincipal_menubar_container {
    -fx-background-color: #AEE5A2;
}
.telaPrincipal_menu_container {
    -fx-background-color: #E8E773;
    -fx-font-size: 15px;
}
