.telaPrincipal_container {
    -fx-background-color: #C1FFB4;
}

.telaPrincipal_menubar_container {
    -fx-background-color: #AEE5A2;
    -fx-background-radius: 10px;
}
.telaPrincipal_menu_container {
    -fx-font-size: 15px;
}